<div class="row justify-content-center">
  <div class="col-md-5 col-lg-4 col-xl-3">
    <app-card
      class="card"
      [card]="card1"
      [playerName]="'Player 1'"
      [playerScore]="0"
      [winner]="true"
      [tie]="false"
    ></app-card>
  </div>

  <div class="col-md-5 col-lg-4 col-xl-3">
    <app-card
      class="card"
      [card]="card2"
      [playerName]="'Player 2'"
      [playerScore]="0"
      [winner]="false"
      [tie]="true"
    ></app-card>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-auto">
    <button
      class="button"
      (click)="clash()"
      color="accent"
      [disabled]="disabled"
      mat-flat-button
    >
      Clash Cards
    </button>
  </div>
</div>
