<div class="row justify-content-center">
  <div
    *ngFor="let player of players; let i = index"
    class="col-md-5 col-lg-4 col-xl-3"
  >
    <app-card
      class="card"
      [card]="cards[i]"
      [playerName]="player.name"
      [playerScore]="player.score"
      [winner]="player.winner"
      [tie]="player.tie"
    ></app-card>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-auto">
    <button
      class="button"
      (click)="clashCards()"
      color="accent"
      [disabled]="disabled"
      mat-flat-button
    >
      Clash Cards
    </button>
  </div>
</div>
