<div class="row justify-content-center">
  <div class="col-md-5 col-lg-4 col-xl-3">
    <app-card
      class="card"
      [card]="card1"
      [playerName]="'Player 1'"
      [score]="123"
    ></app-card>
  </div>

  <div class="col-md-5 col-lg-4 col-xl-3">
    <app-card
      class="card"
      [card]="card2"
      [playerName]="'Player 2'"
      [score]="123"
    ></app-card>
  </div>
</div>

<div class="row justify-content-center">
  <div class="col-auto">
    <!-- TODO: [disabled]="loading === true || character === null -->
    <button
      class="button"
      (click)="clash()"
      color="accent"
      [disabled]="false"
      mat-flat-button
    >
      Clash Cards
    </button>
  </div>
</div>
