$font-family-sans-serif: Roboto, 'Helvetica Neue', sans-serif;

$grid-breakpoint-sm: 576px;
$grid-breakpoint-md: 768px;
$grid-breakpoint-lg: 992px;
$grid-breakpoint-xl: 1200px;

$color-green-300: #69f0ae;
$color-white: #fff;
$color-gray-900: #040505;
$color-black: #000;
