<div class="row justify-content-center">
  <div class="col-auto">
    <label id="label" class="label">
      Choose your character
    </label>
    <mat-radio-group
      aria-labelledby="label"
      color="accent"
      [ngModel]="character"
      (ngModelChange)="characterChange.emit($event)"
    >
      <mat-radio-button
        *ngFor="let character of characters"
        class="radio"
        [value]="character"
        [disabled]="loading && !radio.checked"
        #radio
      >
        {{ character.name }}
      </mat-radio-button>
    </mat-radio-group>
  </div>
</div>
